// Grid
@import 'css/grid.scss';

// Fonts
@font-face {
	font-family: 'Din';
	src: url('css/fonts/din-regular-webfont.eot');
	src:url('css/fonts/din-regular-webfont.woff') format('woff'), url('css/fonts/din-regular-webfont.ttf') format('truetype'), url('css/fonts/din-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Din-Black';
	src: url('css/fonts/din-black-webfont.eot');
	src:url('css/fonts/din-black-webfont.woff') format('woff'), url('css/fonts/din-black-webfont.ttf') format('truetype'), url('css/fonts/din-black-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amatic';
	src: url('css/fonts/amatic-regular.eot');
	src:url('css/fonts/amatic-regular.woff') format('woff'), url('css/fonts/amatic-regular.ttf') format('truetype'), url('css/fonts/amatic-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amatic-Bold';
	src: url('css/fonts/amatic-bold.eot');
	src:url('css/fonts/amatic-bold.woff') format('woff'), url('css/fonts/amatic-bold.ttf') format('truetype'), url('css/fonts/amatic-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.din {
	font-family: 'Din';
}

.din--black {
	font-family: 'Din-Black';
}

.amatic {
	font-family: 'Amatic';
}

.amatic--bold {
	font-family: 'Amatic-Bold';
}

// Variables
$primary: #a50031;
$secondary: #009fd0;
$tertiary: #fffdee;


// Globals
body {
	@extend .din;
}

h1 {
	@extend .amatic;
	font-size: 40px;
	margin-bottom: 8px;
}

h2,
h3,
h4,
h5,
h6 {
	@extend .din--black;
	font-weight: normal;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.container {
	max-width: 1030px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

// Header
#header {
	background: rgba(0,0,0,.77);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;


	.social_wrap {
		a {
			color: $secondary;
		}

		button {
			color: white;
		}
	}

	.header_mid_inner {
		width: 100%;
		max-width: 1150px;
		padding: 0 15px;
	}

	.header_mid_inner .search_wrap .search_but {
		color: $secondary;
	}

	.search_bar_wrap input[type=text] {
		padding-top: 14px;
	}

	.header-give-button {
		margin-top: -4px;
	}
}

// Hero
.hero {
	@extend .clearfix;
	background: url('images/bg-hero.jpg');
	background-size: cover;
	background-position: center;

	@media screen and ( max-width: 770px ) {
		background-position: 60% center;
	}

	// @media screen and ( max-width: 700px ) {
	// 	background-position: 50% center;
	// }

	// @media screen and ( max-width: 515px ) {
	// 	background-position: 27% center;
	// }

	.container {
		@extend .clearfix;
		position: relative;

		@media screen and ( max-width: 770px ) {
			padding-bottom: 150px;
		}
	}

	.hero__inner {
		float: right;
		max-width: 600px;
		padding: 200px 0 90px;

		@media screen and ( max-width: 770px ) {
			max-width: 100%;
			width: 100%;
			float: none;
		}

		h2 {
			@extend .din--black;
			font-weight: bold;
			font-size: 74px;
			color: white;

			@media screen and ( max-width: 600px ) {
				font-size: 64px;
			}

			@media screen and ( max-width: 515px ) {
				font-size: 54px;
			}

			@media screen and ( max-width: 440px ) {
				font-size: 44px;
			}

			span {
				color: $secondary;
				display: block;

				&.open-quote {
					float: left;
					padding-bottom: 40px;
				}

				&.close-quote {
					float: right;
				}
			}
		}

		.hero__motto {
			@extend .din;
			font-weight: bold;
			font-size: 31px;
			color: white;
			margin: 36px;
			display: block;
			line-height: 1.5;

			@media screen and ( max-width: 550px ) {
				font-size: 25px;
			}
		}

		ul {
			padding-left: 36px;

			@media screen and ( max-width: 600px ) {
				padding-left: 0;
			}

			li {
				display: inline-block;

				@media screen and ( max-width: 600px ) {
					display: block;
				}

				a {
					display: block;
					background: #dcdad3;
					color: $secondary;
					padding: 15px 20px 12px;
					text-transform: uppercase;
					border-radius: 10px;
					font-size: 22px;

					&:hover {
						color: white;
						background: $secondary;
					}

					@media screen and ( max-width: 600px ) {
						text-align: center;
						width: 100%;
					}
				}
			}
		}

		.giveButton {
			display: inline-block;
			background: $primary;
			color: white;
			padding: 12px 25px 9px;
			text-transform: uppercase;
			border-radius: 10px;
			font-size: 22px;
			margin-left: 36px;

			&:hover {
				background: $secondary;
			}
		}
	}
	.playButton {
		position: absolute;
		bottom: 0;
		left: 0;

		@media screen and ( max-width: 770px ) {
			left: 50%;
		    transform: translateX(-50%);
		}		

		.triangle {
			display: block;
    		margin-top: 20px;
    		border-left: 80px solid transparent;
    		border-right: 80px solid transparent;
    		border-bottom: 85px solid $primary;
		}
	}
}

// Intro
.intro {
	background: $primary;
	color: white;
	padding: 30px 0;

	p {
		line-height: 2;
	}
}

// Main Content
.mainContent {
	background: $tertiary;
	padding: 30px 0;

	.mainContent__item {
		@extend .col-xs-6;
		@extend .col-sm-4;
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		min-height: 366px;


		@media screen and ( max-width: 767px ) {
			min-height: 360px;
		}

		@media screen and ( max-width: 500px ) {
			width: 100%;
		}
		
		a, h2 {
			@extend .din--black;
			text-transform: uppercase;
			color: $primary;
			font-size: 20px;
		}

		h2 {
			a {
				color: black;
				font-size: 16px;
				margin-top: 10px;
				display: block;
			}
		}

		> a {
			letter-spacing: 1px;
		}

		.dontate-btn {
			position: absolute;
			left: 15px;
			bottom: 0;
		}
	}
}

// Footer
#footer {
	background: $primary;

	p {
		@extend .amatic;
		color: white;
		font-size: 40px;
	}

	.socialItems {
		float: left;
		padding: 80px 0;

		@media screen and ( max-width: 1005px ) {
			padding: 10px 0 20px;
			float: none;
		}
	}

	div {
		@media screen and ( max-width: 1005px ) {
			text-align: center;
		}
	}

	ul {
		li {
			display: inline-block;

			img {
				max-width: 40px;
			}
		}
	}

	img {
		max-width: 760px;
	    width: 100%;
	    float: right;

	    @media screen and ( max-width: 1005px ) {
	    	float: none;
	    }
	}
}

.bottomFooter {
	background: #393a3a;
	height: 80px;
}